accelerate==0.26.1
amqp==5.3.1
annotated-types==0.7.0
arrow>=1.2.3
asgiref==3.8.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
babel==2.17.0
billiard==4.2.1
binaryornot==0.4.4
blis==0.7.11
boto3==1.34.14
botocore>=1.29.0
cachetools==5.5.0
catalogue==2.0.10
celery>=5.3.6
certifi==2024.8.30
cffi==1.17.1
channels>=4.0.0
channels_redis>=4.2.1
chardet==5.2.0
charset-normalizer==3.4.0
ChatterBot>=1.0.4
chatterbot-corpus>=1.2.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.5
constantly==23.10.4
cookiecutter==2.6.0
crispy-bootstrap5>=2023.10
crispy-tailwind>=1.0.3
cron-descriptor==1.4.5
cryptography==44.0.0
cymem==2.0.10
daphne==4.0.0
defusedxml==0.7.1
distlib==0.3.8
dj-rest-auth>=5.0.1
Django>=4.2,<5.0
django-allauth>=0.59.0
django-appconf>=1.0.6
django-braces>=1.16.0
django-celery-beat>=2.5.0
django-celery-results>=2.5.1
django-cleanup>=8.1.0
django-compressor>=4.4
django-cors-headers==4.3.1
django-countries==7.5.1
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==23.5
django-htmx==1.17.2
django-ipware==7.0.1
django-money==3.4.1
django-multiselectfield==0.1.12
django-oauth-toolkit==2.3.0
django-phonenumber-field==7.2.0
django-ratelimit==4.1.0
django-redis==5.4.0
django-rest-framework-social-oauth2==1.1.0
django-storages==1.14.2
django-structlog==9.0.0
django-tailwind==3.8.0
django-timezone-field==7.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.93.5
drf-yasg==1.21.7
ecdsa==0.19.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
facebook-sdk==3.1.0
filelock==3.14.0
flexcache==0.3
flexparser==0.4
fsspec==2024.10.0
google-auth==2.37.0
gunicorn>=21.2.0
huggingface-hub==0.26.5
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jwcrypto==1.5.6
kombu==5.4.2
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mathparse==0.1.2
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
murmurhash==1.0.11
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
packaging==24.2
phonenumbers==8.13.25
Pillow==10.1.0
Pint==0.24.4
platformdirs==4.2.1
preshed==3.0.9
prompt_toolkit==3.0.48
psutil==6.1.0
psycopg2-binary>=2.9.9
py-moneyed==3.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyJWT==2.10.1
pymongo==3.13.0
pyOpenSSL==25.0.0
pyotp==2.9.0
python-crontab==3.2.0
python-dateutil>=2.8.2,<3.0.0
python-dotenv>=1.0.0
python-ipware==3.0.0
python-jose==3.3.0
python-magic==0.4.27
python-slugify==8.0.4
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2024.2
PyYAML==6.0.2
rcssmin==1.1.1
redis>=5.0.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rjsmin==1.2.1
rsa==4.9
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn>=1.6.0
scipy>=1.14.1
service-identity==24.2.0
setuptools>=65.5.1
six==1.17.0
smart-open==6.4.0
social-auth-app-django>=5.4.0
social-auth-core>=4.5.4
spacy>=3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy>=1.4.0,<2.0.0
sqlparse==0.5.0
srsly==2.5.0
stripe==7.9.0
structlog==24.4.0
sympy==1.13.1
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.21.0
torch==2.4.1
tqdm==4.67.1
Twisted==24.11.0
txaio==23.1.1
typer==0.9.4
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
virtualenv==20.26.1
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.3.4
whitenoise>=6.6.0
zope.interface==7.2
